<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>IdeasOnCanvas</string>
	<key>id</key>
	<string>FB519731-63B3-418E-B453-095BFC87F2EE</string>
	<key>title</key>
	<string>Coffee</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
